Django
django-cors-headers
psycopg2
djangorestframework
google-cloud-aiplatform
python-dotenv
google-cloud-resource-manager
google-genai
langchain_core
langchain
langchain_google_vertexai
google-auth
google-api-python-client
google-cloud-storage
psycopg2-binary
drf-yasg
PyGithub
cryptography